<!DOCTYPE html>
<html lang="en">
<head th:insert="partials/head :: content"></head>
<body>
<div class="g-navigation" th:insert="partials/navigation :: content"></div>
<div class="g-container">
    <main class="g-main container-fluid">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight"><h2>Заказы</h2></div>
            <div class="p-2 bd-highlight">
            </div>

            <div class="ml-auto p-2 bd-highlight">
                <a class="btn btn-outline-primary"
                   href="/manager/order/new" role="button">
                    <i class="col-1 bi bi-plus-circle"> Создать</i>
                </a>
            </div>
        </div>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="date" th:value="${filter.dateCreateFor}" th:name="dateCreateFor">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="date" th:value="${filter.dateCreateBefore}" th:name="dateCreateBefore">
            </div>
           <!-- <div class="form-group mx-sm-3 mb-2">
                <input type="text" th:value="${filter.client}" th:name="client">
            </div>-->
            <input type="hidden" th:value="1" th:name="pageNumber"/>
            <button type="submit" class="btn btn-primary mb-2">Фильтр</button>
        </form>

        <div class="row">
            <div class="col-12">
                <section class="g-section">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <form method="get" th:action="@{/manager/orders}">
                                    <div th:if="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="desc" th:name="sortDir"/>
                                    </div>
                                    <div th:unless="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="asc" th:name="sortDir"/>
                                    </div>
                                    <input type="hidden" th:value="id" th:name="sortField"/>
                                    <input class="btn btn-link" type="submit" value="№">
                                </form>
                            </th>
                            <th scope="col">
                                <form method="get" th:action="@{/manager/orders}">
                                    <div th:if="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="desc" th:name="sortDir"/>
                                    </div>
                                    <div th:unless="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="asc" th:name="sortDir"/>
                                    </div>
                                    <input type="hidden" th:value="dateCreate" th:name="sortField"/>
                                    <input class="btn btn-link" type="submit" value="Дата заказа">
                                </form>
                            </th>
                            <th scope="col">
                                <form method="get" th:action="@{/manager/orders}">
                                    <div th:if="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="desc" th:name="sortDir"/>
                                    </div>
                                    <div th:unless="${nam.sortDir=='asc'}">
                                        <input type="hidden" th:value="asc" th:name="sortDir"/>
                                    </div>
                                    <input type="hidden" th:value="dateChange" th:name="sortField"/>
                                    <input class="btn btn-link" type="submit" value="Дата изменения">
                                </form>
                            </th>
                            <th scope="col">Товар</th>
                            <th scope="col">Клиент</th>
                            <th scope="col">Сумма заказа</th>
                            <th scope="col">Доставка</th>
                            <th scope="col">Статус заказа</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="order: ${orders}">
                            <div th:if="${order.status}">
                                <tr class="table-warning">
                            </div>
                            <td th:text="${order.id}">Id</td>
                            <td th:text="${#dates.format(order.dateCreate, 'dd-MMM-yyyy')}">dataCreate</td>
                            <td th:text="${#dates.format(order.dateChange, 'dd-MMM-yyyy')}">dateChange</td>
                            <td>
                                <select name="product">
                                    <div th:each="product : ${order.products}">
                                        <option th:text="${product.description}">description</option>
                                    </div>
                                </select>
                            </td>
                            <td th:text="${order.client.name}">client</td>
                            <td th:text="${order.price}">client</td>
                            <td th:text="${order.delivery.name}">delivery</td>
                            <td th:text="${order.status}">delivery</td>
                            <td>
                                <a class="g-header__nav-link"
                                   data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="g-header__icon--caret fas fa-caret-down"></i>
                                </a>
                                <div class="g-notification dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item js-course-detail"
                                            data-bs-toggle="modal"
                                            data-bs-target="#OtderForm"
                                            data-сreate="${order}"
                                            data-order-client-name="${order.client.name}"
                                            order-price="${order.price}">
                                        Информация
                                    </button>
                                    <form action="${pageContext.request.contextPath}/managerPage"
                                          name="deleting"
                                          method="post">
                                        <input type="hidden" name="orderId" value="${order.id}"/>
                                        <input type="hidden" name="pageName" value="Order"/>
                                        <button class="dropdown-item">Информация</button>
                                    </form>
                                </div>
                            </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <div style="text-align: center">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${nam.pageNumber > 1}">
                    <li class="page-item" th:if="${nam.pageNumber > 1}">
                        <form method="get" th:action="@{/manager/orders}">
                            <input type="hidden" th:value="1" th:name="pageNumber"/>
                            <input class="page-link" type="submit" value="Первая">
                        </form>
                    </li>
                    <li class="page-item disabled" th:unless="${nam.pageNumber > 1}">
                        <span class="page-link" aria-hidden="true">Первая</span>
                    </li>
                    <li class="page-item " th:if="${nam.pageNumber > 1}">
                        <form method="get" th:action="@{/manager/orders}">
                            <input type="hidden" th:value="${nam.pageNumber - 1}" th:name="pageNumber"/>
                            <input class="page-link" type="submit" value="&laquo;">
                        </form>
                    </li>
                    <li class="page-item disabled " th:unless="${nam.pageNumber > 1}">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                    <span th:each="i: ${#numbers.sequence(1, nam.getTotalPages)}">
                          <li class="page-item" th:if="${i != nam.pageNumber}">
                          <form method="get" th:action="@{/manager/orders}">
                          <input type="hidden" th:value="${i}" th:name="pageNumber"/>
                          <input class="page-link" type="submit" th:value="${i}">
                          </form>
                          </li>
                        <li class="page-item active" th:unless="${i != nam.pageNumber}">
                            <span class="page-link">[[${i}]]</span>
                        </li>
                    </span>
                    <li class="page-item " th:if="${nam.pageNumber < nam.getTotalPages}">
                        <form method="get" th:action="@{/manager/orders}">
                            <input type="hidden" th:value="${nam.pageNumber + 1}" th:name="pageNumber"/>
                            <input class="page-link" type="submit" value="&raquo;">
                        </form>
                    </li>
                    <li class="page-item disabled " th:unless="${nam.pageNumber < nam.getTotalPages}">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                    <li class="page-item" th:if="${nam.pageNumber < nam.getTotalPages}">
                        <form method="get" th:action="@{/manager/orders}">
                            <input type="hidden" th:value="${nam.getTotalPages}" th:name="pageNumber"/>
                            <input class="page-link" type="submit" value="Последняя">
                        </form>
                    </li>
                    <li class="page-item disabled" th:unless="${nam.pageNumber < nam.getTotalPages}">
                        <span class="page-link" aria-hidden="true">Последняя</span>
                    </li>
                </ul>
            </nav>
            <p>
                Всего строк [[${nam.getTotalElements}]] : Страница [[${nam.pageNumber}]] из [[${nam.getTotalPages}]]
            </p>
        </div>
    </main>
</div>
<footer class="g-footer text-right">
    <span class="e-site-emphasize">Commodity Papa</span>
</footer>
<script th:src="@{/js/custom.js}"></script>
<div class="modal fade" id="userForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="${pageContext.request.contextPath}/managerPage" method="post">
                <div class="modal-body">
                    Name <input th:text="${manager}" name="newName" class='lf--input'
                                type="Name"><br><br>
                    <input type="hidden" name="update" value="update"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>