<!DOCTYPE html>
<html lang="en">
<head th:insert="partials/head :: content"></head>
<body>
<div class="g-navigation" th:insert="partials/navigation :: client"></div>
<div class="g-container">
    <main class="g-main container-fluid">
        <div class="d-flex bd-highlight mb-3">
            <div class="p-2 bd-highlight"><h2>Каталог</h2></div>
            <div class="p-2 bd-highlight">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <section class="g-section">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col"></th>
                            <th scope="col">Название</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Цена</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="product: ${products}">
                            <tr>
                                <td th:text="${product.id}">Id</td>
                                <td><img th:src="@{'/'+${product.image}}" class="g-sidebar__profile-photo"></td>
                                <td>
                                    <a th:href="@{/client/product/{id}(id=${product.id})}" th:text="${product.name}">name</a>
                                </td>
                                <td>
                                    <a class="g-header__nav-link"
                                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="g-header__icon--caret fas fa-caret-down">Описание</i>
                                    </a>
                                    <div class="dropdown-menu p-4 text-muted" style="max-width: 400px;">
                                        <p th:text="${product.description}"></p>
                                    </div>
                                </td>
                                <td th:text="${product.price+' руб.'}">price</td>
                                <td>
                                    <form th:method="post" th:action="@{/basket/add}">
                                        <input type="hidden" name="productId" th:value="${product.id}"/>
                                        <h1>
                                            <button type="submit" class="btn btn-primary bi bi-cart"> В корзину</button>
                                        </h1>
                                    </form>
                                </td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </main>
</div>
<footer class="g-footer text-right">
    <span class="e-site-emphasize">Commodity Papa</span>
</footer>
<script th:src="@{/js/custom.js}"></script>





<div class="modal fade" id="userForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="${pageContext.request.contextPath}/managerPage" method="post">
                <div class="modal-body">
                    Name <input th:text="${manager}" name="newName" class='lf--input'
                                type="Name"><br><br>
                    <input type="hidden" name="update" value="update"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $(".js-course-detail").click(
            function () {
                var productDescription = $(this).attr('data-product-description');
                var productPrice = $(this).attr('data-product-price');
                var dataProduct = $(this).attr('data-product');
                var dataAction = $(this).attr('data-action');

                $("#productDescription").val(productDescription)
                $("#productPrice").val(productPrice)
                $("#action").val(dataAction)
                $("#productId").val(dataProduct)

            })
    });
</script>